.App {
  text-align: center;
  padding: 2rem;
  background: #f0f2f5;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

main-image { 
  max-width: "70%";
  object-fit: "cover";
  border-radius: "10px";
}

fact-text {
  margin-top: "20px";
  font-size: "1.2rem";
}

button-fact {
  margin-top: "20px";
  padding: "10px 20px";
  font-size: "1rem";
  cursor: "pointer";
}

fact-count-text {
  margin-top: "20px";
  font-size: "1.2rem";
}